*.pyc
docs/build
dist
MANIFEST
.coverage
.tox/
.cache/
*.egg-info/
htmlcov/
extras/appengine/sqlparse
extras/appengine/lib/
extras/py3k/sqlparse
extras/py3k/tests
extras/py3k/sqlparse.diff
extras/py3k/tests.diff
coverage.xml
*.class
