recursive-include docs source/*
include docs/sqlformat.1
include docs/Makefile
recursive-include tests *.py *.sql
include COPYING
include TODO
include AUTHORS
include CHANGES
include Makefile
include pytest.ini
include tox.ini