recursive-include docs source/*
include docs/sqlformat.1
include docs/Makefile
recursive-include tests *.py *.sql
include LICENSE
include TODO
include AUTHORS
include CHANGELOG
include Makefile
include setup.cfg
include tox.ini
