{% extends "master.html" %}

{% block title %}Source code{% endblock %}

{% block main %}
<div id="response">
  <h1>Source Code</h1>

  <h2>Python Module</h2>
  <p>
    The sources for the SQL parser and formatter module are
    hosted on Google Code.
    To clone the repository run:
  <p>
    <code class="pre"> hg clone http://python-sqlparse.googlecode.com/hg/ python-sqlparse</code>
  </p>
  <p>
    <a href="http://python-sqlparse.googlecode.com">Visit the project page</a>
    |
    <a href="http://code.google.com/p/python-sqlparse/source/browse/">Browse the sources online</a>
    |
    <a href="http://python-sqlparse.googlecode.com/svn/docs/api/index.html"> API Documentation</a>
  </p>
  <p>
    Some relevant parts of the Python module contain code from the
    <a href="http://pygments.org/">pygments</a> syntax highlighter.
    The underlying Python module uses a non-validating SQL parser.
    This approach makes it possible to parse even syntactically incorrect
    SQL statements.
  </p>

  <p>
    Currently the parser module is used by
    <a href="http://crunchyfrog.googlecode.com/">CrunchyFrog</a> - a
    database front-end for Gnome.
  </p>

  <p>
    The <code>sqlparse</code> module is released under the terms of the
    <a href="http://www.opensource.org/licenses/bsd-license.php">New BSD License</a>.
  </p>

  <h2>App Engine Application</h2>
  <p>
    The source code for this App Engine application is available in the
    <code>examples</code> directory of the Python module
    (but it's really nothing special ;-).
  </p>

  <h2>Contributing</h2>
  <p>
    Please file bug reports and feature requests on the project site at
    <a href="http://code.google.com/p/python-sqlparse/issues/entry">http://code.google.com/p/python-sqlparse/issues/entry</a>
    or if you have code to contribute upload it to
    <a href="http://codereview.appspot.com">http://codereview.appspot.com</a>
    and add albrecht.andi@googlemail.com as reviewer.
  </p>

</div>
{% endblock %}
