{% extends "master.html" %}

{% block title %}About{% endblock %}

{% block main %}
<h1>About this Application</h1>
<p>
  This application is a online SQL formatting tool.
</p>
<p>
  Basically it's a playground for a Python module to parse and format
  SQL statements. Sometimes it's easier to combine the available
  options and to see the resulting output using a web front-end than
  on the command line ;-)
</p>
<p>
  To get started, enter a SQL statement in the text box on the top,
  choose some options and click on &quot;Format SQL&quot; (Ctrl+F)
  to see the result.
</p>
<p>
  <em>Note:</em> The SQL formatter and parser is in an early stage
  of development. If you're looking for a mature tool, try one of
  <a href="http://www.google.com/search?q=online+sql+formatter">these</a>.
</p>
<h2>Using it from the Command Line</h2>
<p>
  There are three ways to use this SQL formatter from the command line:
</p>
<ol>
  <li>Grab the <a href="/source/">sources</a> and use the module in your
    Python scripts.</li>
  <li>
    Write a little script in your favorite language that sends a POST
    request to this application.<br/>
    Read the <a href="/api/">API Documentation</a> for more information.
  </li>
  <li>Use
    <a href="/static/lynx_screenshot.png"
       alt="Lynx Screenshot" target="_blank"
       title="Screenshot: sqlformat.appspot.com on Lynx">Lynx
    </a>
  </li>
</ol>

{% endblock %}
