<html>
  <head>
    <title>{% block title %}SQLFormat - Online SQL Formatter{% endblock %}</title>
    <meta name="keywords" content="SQL, format, parse, python, beautify, pretty, online, formatting, formatter" />
    <meta name="description" content="Easy to use web service to format SQL statements." />
    <link rel="stylesheet" href="/static/pygments.css" />
    <link rel="stylesheet" href="/static/styles.css" />
    <script src="http://www.google.com/jsapi"></script>
    <script>
      google.load("jquery", "1.2.6");
    </script>
    <script src="/static/hotkeys.js"></script>
    <script src="/static/script.js"></script>
  </head>
  <body>

    <div id="help">
      <p>Keyboard Shortcuts</p>
      <p>
	<span class="shortcut">H</span> - Show / hide this help window<br/>
	<span class="shortcut">Ctrl+F</span> - Format SQL and display result<br/>
	<span class="shortcut">O</span> - Show / hide options<br/>
	<span class="shortcut">T</span> - Set focus on SQL input<br/>
      </p>
    </div>

    <div id="header">
      <div id="header-inner">
	{% if user %}<img src="{{userimg}}" border="0" align="right" style="padding-top:.4em;"/>{% endif %}
	<h1>
	  <a href="/">
	    <span class="q">S<span class="q2">Q</span>L</span>Format
	  </a>
	</h1>
	<div id="slogan">Online SQL formatting service</div>
	<div id="topmenu">
	  <a href="/">Home</a>
	  |
	  <a href="/about/">About</a>
	  |
	  <a href="/source/">Source Code</a>
	  |
	  <a href="/api/">API</a>
<!--
	  |
	  {% if user %}
	  <a href="{{logout_url}}">Sign out</a>
	  {% else %}
	  <a href="{{login_url}}">Sign in</a>
	  <span style="color: #babdb6;">with your Google account
	  to save preferred settings.</span>
	  {% endif %}
-->
	</div>
      </div>
    </div>

    <div id="main">
      <div id="main-inner">
	{% block main %}MAIN CONTENT GOES HERE{% endblock %}
      </div>
    </div>

    <div id="footer">
      <div id="footer-inner">
	<div style="float: left; font-size: .85em;">
	  <div>&copy; 2011 Andi Albrecht&nbsp;&nbsp;
	    <code>&lt;albrecht dot andi gmail&gt;</code>
	  </div>
	  <div>
	    <a href="/">Home</a>
	    |
	    <a href="/about/">About</a>
	    |
	    <a href="/source/">Source Code</a>
	    |
	    <a href="/api/">API</a>
	    |
	    <a href="http://andialbrecht.wordpress.com/">Blog</a>
	  </div>
	</div>
	<div style="float: right;">
	  <img src="http://code.google.com/appengine/images/appengine-silver-120x30.gif"
	       alt="Powered by Google App Engine" />
	</div>
	<div class="clearfix"></div>
      </div>
    </div>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-3535525-2");
      pageTracker._trackPageview();
      } catch(err) {}</script>
    <script>init();</script>
	<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>

  </body>
</html>
